
.home{
    width: 100%;
    height: calc(100vh - 60px);
    position: relative;
    background: #222;

    .board{
        width: 280px;
        height: 280px;
        background: #777;
        position: absolute;
        left: calc(50% - 140px);
        top: calc(50% - 140px);
        padding: 30px 30px 30px 30px;
        border-radius: 4px;
        box-shadow: 2px 2px 4px #000;
        
        @media(min-width: 700px){
            width: 350px;
            height: 350px;
            left: calc(50% - 175px);
            top: calc(50% - 175px);
            padding: 40px 40px 40px 40px;
        }

        @media(min-width: 1100px){
            width: 500px;
            height: 500px;
            left: calc(50% - 250px);
            top: calc(50% - 250px);
            padding: 70px 70px 70px 70px;
        }

        .square{
            width: 30%;
            height: 30%;
            cursor: pointer;
            display: inline-block;
        }

        .square:hover{
            background: #555;
        }

        .top{
            border-bottom: 2px solid black;
        }
        
        .left{
            border-right: 2px solid black;
        }
        
        .right{
            border-left: 2px solid black;
        }
        
        .bottom{
            border-top: 2px solid black;
        }
    }
}

